In [1]:
import pandas as pd
from utils import check_nas, unique_values, values_only_in_set

### 1. Load dataset

In [2]:
train = pd.read_csv('data/train.csv', index_col=0, low_memory=False)
test = pd.read_csv('data/test.csv', index_col=0, low_memory=False)

### 2. Check for NAs

Check no. missing values for Train

In [3]:
check_nas(train,'age_source1')

(12811, 0.4270333333333333)

Check no. missing value for Test

In [4]:
check_nas(test,'age_source1')

(8715, 0.2905)

### 3. Check for Unique Values

#### Similar Unique values in Train & Test

In [5]:
set(train.age_source1.unique()).intersection(set(test.age_source1.unique()))

{0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 12.0,
 14.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 63.0,
 64.0,
 67.0,
 71.0}

#### Unique values in Train

In [6]:
unique_values(train,'age_source1')

(25.0    881
 27.0    860
 28.0    853
 26.0    838
 24.0    782
        ...
 64.0      1
 12.0      1
 14.0      1
 17.0      1
 71.0      1
 Name: age_source1, Length: 64, dtype: int64, 25.0    0.051254
 27.0    0.050032
 28.0    0.049625
 26.0    0.048752
 24.0    0.045494
           ...
 64.0    0.000058
 12.0    0.000058
 14.0    0.000058
 17.0    0.000058
 71.0    0.000058
 Name: age_source1, Length: 64, dtype: float64)

#### Unique values in Test

In [7]:
unique_values(test,'age_source1')

(28.0    609
 25.0    570
 26.0    540
 24.0    535
 27.0    527
        ...
 67.0      1
 13.0      1
 7.0       1
 70.0      1
 71.0      1
 Name: age_source1, Length: 61, dtype: int64, 28.0    0.053965
 25.0    0.050510
 26.0    0.047851
 24.0    0.047408
 27.0    0.046699
           ...
 67.0    0.000089
 13.0    0.000089
 7.0     0.000089
 70.0    0.000089
 71.0    0.000089
 Name: age_source1, Length: 61, dtype: float64)

### 4. Compare Train and Test

Compare Unique values only in Train

In [11]:
values_only_in_set(train, test, 'age_source1')

({nan, 9.0, 15.0, 16.0, 17.0, 62.0, 66.0}, 7)

Compare Unique values only in Test

In [12]:
values_only_in_set(test, train, 'age_source1')

({nan, 10.0, 13.0, 70.0}, 4)