In [1]:
import pandas as pd
from utils import check_nas, unique_values, values_only_in_set

### 1. Load dataset

In [2]:
train = pd.read_csv('data/train.csv', index_col=0, low_memory=False)
test = pd.read_csv('data/test.csv', index_col=0, low_memory=False)

### 2. Check for NAs

Check no. missing values for Train

In [3]:
check_nas(train,'age_source2')

(9678, 0.3226)

Check no. missing value for Test

In [4]:
check_nas(test,'age_source2')

(6504, 0.2168)

### 3. Check for Unique Values

#### Similar Unique values in Train & Test

In [5]:
set(train.age_source2.unique()).intersection(set(test.age_source2.unique()))

{-1.0,
 6.0,
 14.0,
 15.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 66.0,
 67.0,
 68.0,
 71.0,
 73.0,
 80.0}

#### Unique values in Train

In [6]:
unique_values(train,'age_source2')

(25.0    1074
 28.0    1069
 26.0    1053
 27.0    1049
 24.0     971
         ...
 89.0       1
 75.0       1
 11.0       1
 9.0        1
 73.0       1
 Name: age_source2, Length: 69, dtype: int64, 25.0    0.052849
 28.0    0.052603
 26.0    0.051816
 27.0    0.051619
 24.0    0.047781
           ...
 89.0    0.000049
 75.0    0.000049
 11.0    0.000049
 9.0     0.000049
 73.0    0.000049
 Name: age_source2, Length: 69, dtype: float64)

#### Unique values in Test

In [7]:
unique_values(test,'age_source2')

( 28.0    732
  25.0    725
  27.0    684
  26.0    671
  24.0    661
         ...
 -1.0       1
  73.0      1
  80.0      1
  74.0      1
  77.0      1
 Name: age_source2, Length: 63, dtype: int64,  28.0    0.054238
  25.0    0.053720
  27.0    0.050682
  26.0    0.049718
  24.0    0.048977
            ...
 -1.0     0.000074
  73.0    0.000074
  80.0    0.000074
  74.0    0.000074
  77.0    0.000074
 Name: age_source2, Length: 63, dtype: float64)

### 4. Compare Train and Test

Compare Unique values only in Train

In [10]:
values_only_in_set(train, test, 'age_source2')

({nan, 9.0, 10.0, 11.0, 16.0, 65.0, 72.0, 75.0, 76.0, 78.0, 88.0, 89.0}, 12)

Compare Unique values only in Test

In [11]:
values_only_in_set(test, train, 'age_source2')

({nan, 5.0, 8.0, 74.0, 77.0, 94.0}, 6)