In [1]:
import pandas as pd
from utils import check_nas, unique_values, values_only_in_set

### 1. Load dataset

In [2]:
train = pd.read_csv('data/train.csv', index_col=0, low_memory=False)
test = pd.read_csv('data/test.csv', index_col=0, low_memory=False)

### 2. Check for NAs

Check no. missing values for Train

In [3]:
check_nas(train,'FIELD_2')

(463, 0.015433333333333334)

Check no. missing value for Test

In [4]:
check_nas(test,'FIELD_2')

(325, 0.010833333333333334)

### 3. Check for Unique Values

#### Similar Unique values in Train & Test

In [5]:
set(train.FIELD_2.unique()).intersection(set(test.FIELD_2.unique()))

{0.0, 1.0}

#### Unique values in Train

In [6]:
unique_values(train,'FIELD_2')

(1.0    22541
 0.0     6996
 Name: FIELD_2, dtype: int64, 1.0    0.763145
 0.0    0.236855
 Name: FIELD_2, dtype: float64)

#### Unique values in Test

In [7]:
unique_values(test,'FIELD_2')

(1.0    14959
 0.0     4716
 Name: FIELD_2, dtype: int64, 1.0    0.760305
 0.0    0.239695
 Name: FIELD_2, dtype: float64)

### 4. Compare Train and Test

Compare Unique values only in Train

In [8]:
values_only_in_set(train, test, 'FIELD_2')

({nan}, 1)

Compare Unique values only in Test

In [9]:
values_only_in_set(test, train, 'FIELD_2')

({nan}, 1)