In [11]:
import pandas as pd
from utils import check_nas, unique_values, values_only_in_set

### 1. Load dataset

In [12]:
train = pd.read_csv('data/train.csv', index_col=0, low_memory=False)
test = pd.read_csv('data/test.csv', index_col=0, low_memory=False)

### 2. Check for NAs

Check no. missing values for Train

In [13]:
check_nas(train,'FIELD_4')

(463, 0.015433333333333334)

Check no. missing value for Test

In [5]:
check_nas(test,'FIELD_4')

(325, 0.010833333333333334)

### 3. Check for Unique Values

#### Similar Unique values in Train & Test

In [6]:
set(train.FIELD_4.unique()).intersection(set(test.FIELD_4.unique()))

{0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0}

#### Unique values in Train

In [7]:
unique_values(train,'FIELD_4')

(0.0     19746
 1.0      4802
 2.0      3507
 3.0      1020
 4.0       305
 5.0       113
 6.0        34
 7.0         5
 8.0         4
 12.0        1
 Name: FIELD_4, dtype: int64, 0.0     0.668517
 1.0     0.162576
 2.0     0.118732
 3.0     0.034533
 4.0     0.010326
 5.0     0.003826
 6.0     0.001151
 7.0     0.000169
 8.0     0.000135
 12.0    0.000034
 Name: FIELD_4, dtype: float64)

#### Unique values in Test

In [8]:
unique_values(test,'FIELD_4')

(0.0     13313
 1.0      3132
 2.0      2283
 3.0       657
 4.0       210
 5.0        57
 6.0        12
 7.0         5
 10.0        2
 8.0         2
 11.0        1
 9.0         1
 Name: FIELD_4, dtype: int64, 0.0     0.676645
 1.0     0.159187
 2.0     0.116036
 3.0     0.033393
 4.0     0.010673
 5.0     0.002897
 6.0     0.000610
 7.0     0.000254
 10.0    0.000102
 8.0     0.000102
 11.0    0.000051
 9.0     0.000051
 Name: FIELD_4, dtype: float64)

### 4. Compare Train and Test

Compare Unique values only in Train

In [9]:
values_only_in_set(train, test, 'FIELD_4')

({nan, 12.0}, 2)

Compare Unique values only in Test

In [10]:
values_only_in_set(test, train, 'FIELD_4')

({nan, 9.0, 10.0, 11.0}, 4)