In [1]:
import pandas as pd
from utils import check_nas, unique_values, values_only_in_set

### 1. Load dataset

In [2]:
train = pd.read_csv('data/train.csv', index_col=0, low_memory=False)
test = pd.read_csv('data/test.csv', index_col=0, low_memory=False)

### 2. Check for NAs

Check no. missing values for Train

In [3]:
check_nas(train,'FIELD_12')

(9678, 0.3226)

Check no. missing value for Test

In [4]:
check_nas(test,'FIELD_12')

(6504, 0.2168)

### 3. Check for Unique Values

#### Similar Unique values in Train & Test

In [5]:
set(train.FIELD_12.unique()).intersection(set(test.FIELD_12.unique()))

{'0', '1', 'HT', 'None', nan}

#### Unique values in Train

In [6]:
unique_values(train,'FIELD_12')

(0       16650
 None     3599
 1          71
 TN          1
 HT          1
 Name: FIELD_12, dtype: int64, 0       0.819309
 None    0.177099
 1       0.003494
 TN      0.000049
 HT      0.000049
 Name: FIELD_12, dtype: float64)

#### Unique values in Test

In [7]:
unique_values(test,'FIELD_12')

(0       11027
 None     2419
 1          43
 GD          2
 DN          1
 DK          1
 XK          1
 DT          1
 HT          1
 Name: FIELD_12, dtype: int64, 0       0.817057
 None    0.179238
 1       0.003186
 GD      0.000148
 DN      0.000074
 DK      0.000074
 XK      0.000074
 DT      0.000074
 HT      0.000074
 Name: FIELD_12, dtype: float64)

### 4. Compare Train and Test

Compare Unique values only in Train

In [8]:
values_only_in_set(train, test, 'FIELD_12')

({'TN'}, 1)

Compare Unique values only in Test

In [9]:
values_only_in_set(test, train, 'FIELD_12')

({'DK', 'DN', 'DT', 'GD', 'XK'}, 5)