In [1]:
import pandas as pd
from utils import check_nas, unique_values, values_only_in_set

### 1. Load dataset

In [2]:
train = pd.read_csv('data/train.csv', index_col=0, low_memory=False)
test = pd.read_csv('data/test.csv', index_col=0, low_memory=False)

### 2. Check for NAs

Check no. missing values for Train

In [3]:
check_nas(train,'FIELD_24')

(9678, 0.3226)

Check no. missing value for Test

In [4]:
check_nas(test,'FIELD_24')

(6504, 0.2168)

### 3. Check for Unique Values

#### Similar Unique values in Train & Test

In [5]:
set(train.FIELD_24.unique()).intersection(set(test.FIELD_24.unique()))

{'K1', 'K2', 'K3', 'None', nan}

#### Unique values in Train

In [6]:
unique_values(train,'FIELD_24')

(None    19823
 K2        218
 K1        169
 K3        112
 Name: FIELD_24, dtype: int64, None    0.975445
 K2      0.010727
 K1      0.008316
 K3      0.005511
 Name: FIELD_24, dtype: float64)

#### Unique values in Test

In [7]:
unique_values(test,'FIELD_24')

(None    13168
 K2        154
 K1        114
 K3         60
 Name: FIELD_24, dtype: int64, None    0.975697
 K2      0.011411
 K1      0.008447
 K3      0.004446
 Name: FIELD_24, dtype: float64)

### 4. Compare Train and Test

Compare Unique values only in Train

In [8]:
values_only_in_set(train, test, 'FIELD_24')

(set(), 0)

Compare Unique values only in Test

In [9]:
values_only_in_set(test, train, 'FIELD_24')

(set(), 0)