In [1]:
import pandas as pd
from utils import check_nas, unique_values, values_only_in_set

### 1. Load dataset

In [2]:
train = pd.read_csv('data/train.csv', index_col=0, low_memory=False)
test = pd.read_csv('data/test.csv', index_col=0, low_memory=False)

### 2. Check for NAs

Check no. missing values for Train

In [3]:
check_nas(train,'FIELD_11')

(9678, 0.3226)

Check no. missing value for Test

In [4]:
check_nas(test,'FIELD_11')

(6504, 0.2168)

### 3. Check for Unique Values

#### Similar Unique values in Train & Test

In [5]:
set(train.FIELD_11.unique()).intersection(set(test.FIELD_11.unique()))

{'0',
 '1',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '18',
 '2',
 '21',
 '22',
 '24',
 '25',
 '26',
 '27',
 '28',
 '3',
 '30',
 '32',
 '34',
 '35',
 '36',
 '37',
 '4',
 '45',
 '5',
 '54',
 '59',
 '6',
 '60',
 '69',
 '7',
 '72',
 '8',
 '9',
 'None',
 nan}

#### Unique values in Train

In [6]:
unique_values(train,'FIELD_11')

(12      8499
 0       5525
 6       2110
 3       1578
 24       350
 4        333
 9        237
 5        230
 8        218
 7        204
 10       170
 2        165
 36       150
 13       143
 1        139
 11       132
 None      34
 15        20
 60        18
 14        12
 20         5
 25         5
 17         5
 18         4
 26         4
 54         4
 22         3
 16         3
 19         2
 34         2
 28         2
 35         2
 21         2
 45         1
 37         1
 42         1
 70         1
 47         1
 56         1
 27         1
 72         1
 59         1
 30         1
 69         1
 32         1
 Name: FIELD_11, dtype: int64, 12      0.418217
 0       0.271873
 6       0.103828
 3       0.077650
 24      0.017223
 4       0.016386
 9       0.011662
 5       0.011318
 8       0.010727
 7       0.010038
 10      0.008365
 2       0.008119
 36      0.007381
 13      0.007037
 1       0.006840
 11      0.006495
 None    0.001673
 15      0.000984
 60      0.000886
 14      0.000590
 20      0.000246
 25      0.000246
 17      0.000246
 18      0.000197
 26      0.000197
 54      0.000197
 22      0.000148
 16      0.000148
 19      0.000098
 34      0.000098
 28      0.000098
 35      0.000098
 21      0.000098
 45      0.000049
 37      0.000049
 42      0.000049
 70      0.000049
 47      0.000049
 56      0.000049
 27      0.000049
 72      0.000049
 59      0.000049
 30      0.000049
 69      0.000049
 32      0.000049
 Name: FIELD_11, dtype: float64)

#### Unique values in Test

In [11]:
unique_values(test,'FIELD_11')

(12      5490
 0       3738
 6       1376
 3       1139
 24       212
 4        196
 9        193
 8        145
 2        143
 7        139
 5        130
 13       116
 10       107
 36       106
 1         99
 11        79
 None      21
 15        14
 18         6
 60         5
 21         4
 34         3
 16         3
 14         2
 54         2
 23         2
 25         2
 30         2
 31         1
 57         1
 29         1
 69         1
 32         1
 22         1
 48         1
 33         1
 37         1
 68         1
 28         1
 40         1
 27         1
 49         1
 26         1
 45         1
 35         1
 43         1
 55         1
 41         1
 59         1
 72         1
 Name: FIELD_11, dtype: int64, 12      0.406787
 0       0.276971
 6       0.101956
 3       0.084395
 24      0.015708
 4       0.014523
 9       0.014301
 8       0.010744
 2       0.010596
 7       0.010299
 5       0.009632
 13      0.008595
 10      0.007928
 36      0.007854
 1       0.007336
 11      0.005854
 None    0.001556
 15      0.001037
 18      0.000445
 60      0.000370
 21      0.000296
 34      0.000222
 16      0.000222
 14      0.000148
 54      0.000148
 23      0.000148
 25      0.000148
 30      0.000148
 31      0.000074
 57      0.000074
 29      0.000074
 69      0.000074
 32      0.000074
 22      0.000074
 48      0.000074
 33      0.000074
 37      0.000074
 68      0.000074
 28      0.000074
 40      0.000074
 27      0.000074
 49      0.000074
 26      0.000074
 45      0.000074
 35      0.000074
 43      0.000074
 55      0.000074
 41      0.000074
 59      0.000074
 72      0.000074
 Name: FIELD_11, dtype: float64)

### 4. Compare Train and Test

Compare Unique values only in Train

In [8]:
values_only_in_set(train, test, 'FIELD_11')

({'17', '19', '20', '42', '47', '56', '70'}, 7)

Compare Unique values only in Test

In [9]:
values_only_in_set(test, train, 'FIELD_11')

({'23', '29', '31', '33', '40', '41', '43', '48', '49', '55', '57', '68'}, 12)