In [1]:
import pandas as pd
from utils import check_nas, unique_values, values_only_in_set

### 1. Load dataset

In [2]:
train = pd.read_csv('data/train.csv', index_col=0, low_memory=False)
test = pd.read_csv('data/test.csv', index_col=0, low_memory=False)

### 2. Check for NAs

Check no. missing values for Train

In [3]:
check_nas(train,'FIELD_5')

(463, 0.015433333333333334)

Check no. missing value for Test

In [4]:
check_nas(test,'FIELD_5')

(325, 0.010833333333333334)

### 3. Check for Unique Values

#### Similar Unique values in Train & Test

In [6]:
set(train.FIELD_5.unique()).intersection(set(test.FIELD_5.unique()))

{0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0}

#### Unique values in Train

In [7]:
unique_values(train,'FIELD_5')

(0.0     12354
 2.0      4694
 3.0      3379
 1.0      3090
 4.0      2921
 5.0      1633
 6.0       791
 7.0       342
 8.0       159
 9.0        89
 10.0       33
 11.0       24
 12.0       15
 13.0        8
 14.0        5
 Name: FIELD_5, dtype: int64, 0.0     0.418255
 2.0     0.158919
 3.0     0.114399
 1.0     0.104615
 4.0     0.098893
 5.0     0.055287
 6.0     0.026780
 7.0     0.011579
 8.0     0.005383
 9.0     0.003013
 10.0    0.001117
 11.0    0.000813
 12.0    0.000508
 13.0    0.000271
 14.0    0.000169
 Name: FIELD_5, dtype: float64)

#### Unique values in Test

In [8]:
unique_values(test,'FIELD_5')

(0.0     8391
 2.0     3105
 3.0     2277
 1.0     1980
 4.0     1909
 5.0     1068
 6.0      481
 7.0      234
 8.0      109
 9.0       66
 10.0      28
 12.0      12
 11.0      10
 14.0       3
 13.0       2
 Name: FIELD_5, dtype: int64, 0.0     0.426480
 2.0     0.157814
 3.0     0.115731
 1.0     0.100635
 4.0     0.097027
 5.0     0.054282
 6.0     0.024447
 7.0     0.011893
 8.0     0.005540
 9.0     0.003355
 10.0    0.001423
 12.0    0.000610
 11.0    0.000508
 14.0    0.000152
 13.0    0.000102
 Name: FIELD_5, dtype: float64)

### 4. Compare Train and Test

Compare Unique values only in Train

In [9]:
values_only_in_set(train, test, 'FIELD_5')

({nan}, 1)

Compare Unique values only in Test

In [10]:
values_only_in_set(test, train, 'FIELD_5')

({nan}, 1)