In [1]:
import pandas as pd
from utils import check_nas, unique_values, values_only_in_set

### 1. Load dataset

In [3]:
train = pd.read_csv('data/train.csv', index_col=0, low_memory=False)
test = pd.read_csv('data/test.csv', index_col=0, low_memory=False)

### 2. Check for NAs

Check no. missing values for Train

In [4]:
check_nas(train,'FIELD_7')

(463, 0.015433333333333334)

Check no. missing value for Test

In [12]:
check_nas(test,'FIELD_7')

(325, 0.010833333333333334)

### 3. Process Unique Keys

#### Step 1: Extract unique values in each row of FIELD_07

In [23]:
train.FIELD_7 = train.FIELD_7.astype('str')

In [35]:
test.FIELD_7 = test.FIELD_7.astype('str')

In [59]:
def split_add_unique_values(df, column):
    unique_values = set()
    for s in df[column]:
        raw = s.replace('[','').replace(']','').replace("'",'').strip()
        if len(raw) == 0 or raw == 'nan':
            continue
        value = raw.split(', ')
        unique_values.update(value)
    return unique_values

In [60]:
unique_values_train = split_add_unique_values(train,'FIELD_7')

In [84]:
len(unique_values_train)

37

In [62]:
unique_values_test = split_add_unique_values(test,'FIELD_7')

In [83]:
len(unique_values_test)

42

#### Step 2: Calculate count & percentage for each unique values

In [79]:
def statistic_unique_values(df, column, unique_values):
    total = df.shape[0] - df[column].isna().sum()
    stat = []
    for v in unique_values:
        count = df[column].str.contains(pat=v).sum()
        percentage = count / total
        stat.append([v, count, percentage])
    return pd.DataFrame(stat, columns=['Unique Value', 'Count', 'Percentage']).sort_values('Count',ascending=False).set_index('Unique Value')

In [81]:
statistic_unique_values(train, 'FIELD_7', unique_values_train)

              Count  Percentage
Unique Value
DN            10611    0.353700
GD             7741    0.258033
HS             5488    0.182933
TE             4882    0.162733
HC             1440    0.048000
TN             1063    0.035433
CH              947    0.031567
SV              905    0.030167
DK              837    0.027900
HT              766    0.025533
DT              722    0.024067
CN              702    0.023400
GB              580    0.019333
BT              485    0.016167
HN              422    0.014067
CB              356    0.011867
KC              333    0.011100
TS              244    0.008133
CK              186    0.006200
TA              178    0.005933
XK              159    0.005300
XD              142    0.004733
NN               71    0.002367
TK               66    0.002200
TC               65    0.002167
HD               56    0.001867
TQ               41    0.001367
HX               34    0.001133
MS               16    0.000533
NO               11    0.000367
XV                5    0.000167
TB                5    0.000167
CC                4    0.000133
XN                3    0.000100
LS                1    0.000033
PV                1    0.000033
QN                1    0.000033

In [82]:
statistic_unique_values(test, 'FIELD_7', unique_values_test)

              Count  Percentage
Unique Value
DN             7013     0.35065
GD             4957     0.24785
HS             3503     0.17515
TE             3125     0.15625
HC              966     0.04830
TN              689     0.03445
SV              577     0.02885
CH              563     0.02815
DK              550     0.02750
DT              498     0.02490
CN              494     0.02470
HT              455     0.02275
GB              373     0.01865
HN              343     0.01715
BT              295     0.01475
KC              216     0.01080
CB              192     0.00960
TS              147     0.00735
CK              127     0.00635
TA              116     0.00580
XK               99     0.00495
XD               84     0.00420
TK               41     0.00205
NN               37     0.00185
TQ               34     0.00170
TC               34     0.00170
HD               32     0.00160
HX               28     0.00140
XV                7     0.00035
MS                6     0.00030
PV                4     0.00020
CC                4     0.00020
NO                4     0.00020
XB                3     0.00015
TB                2     0.00010
AT                1     0.00005
XN                1     0.00005
ND                1     0.00005
QT                1     0.00005
HK                1     0.00005
TL                1     0.00005
HG                1     0.00005

### 3. Check for Unique Values

#### Similar Unique values in Train & Test

In [85]:
unique_values_train.intersection(unique_values_test)

{'BT',
 'CB',
 'CC',
 'CH',
 'CK',
 'CN',
 'DK',
 'DN',
 'DT',
 'GB',
 'GD',
 'HC',
 'HD',
 'HN',
 'HS',
 'HT',
 'HX',
 'KC',
 'MS',
 'NN',
 'NO',
 'PV',
 'SV',
 'TA',
 'TB',
 'TC',
 'TE',
 'TK',
 'TN',
 'TQ',
 'TS',
 'XD',
 'XK',
 'XN',
 'XV'}

### 4. Compare Train and Test

Compare Unique values only in Train

In [86]:
unique_values_train - unique_values_test

{'LS', 'QN'}

Compare Unique values only in Test

In [87]:
unique_values_test - unique_values_train

{'AT', 'HG', 'HK', 'ND', 'QT', 'TL', 'XB'}