In [1]:
import pandas as pd
from utils import check_nas, unique_values, values_only_in_set

### 1. Load dataset

In [2]:
train = pd.read_csv('data/train.csv', index_col=0, low_memory=False)
test = pd.read_csv('data/test.csv', index_col=0, low_memory=False)

### 2. Check for NAs

Check no. missing values for Train

In [3]:
check_nas(train,'FIELD_9')

(0, 0.0)

Check no. missing value for Test

In [4]:
check_nas(test,'FIELD_9')

(0, 0.0)

### 3. Check for Unique Values

#### Similar Unique values in Train & Test

In [5]:
set(train.FIELD_9.unique()).intersection(set(test.FIELD_9.unique()))

{'75',
 'BT',
 'CB',
 'CC',
 'CH',
 'CN',
 'DK',
 'DN',
 'DT',
 'GB',
 'GD',
 'HC',
 'HD',
 'HN',
 'HS',
 'HT',
 'HX',
 'KC',
 'NN',
 'SV',
 'TA',
 'TC',
 'TE',
 'TK',
 'TN',
 'TS',
 'XD',
 'XK',
 'XV',
 'na'}

#### Unique values in Train

In [6]:
unique_values(train,'FIELD_9')

(DN    11002
 na     9678
 GD     4854
 TN     1076
 HC     1028
 CH      668
 GB      263
 DK      232
 SV      220
 DT      196
 CN      147
 XK       94
 HN       86
 XD       83
 HT       67
 NN       56
 TK       42
 BT       32
 HS       31
 HX       26
 TA       26
 KC       22
 HD       18
 CB       11
 TS        9
 75        8
 TE        5
 TC        4
 XV        4
 NO        3
 80        3
 XN        2
 MS        1
 86        1
 79        1
 CC        1
 Name: FIELD_9, dtype: int64, DN    0.366733
 na    0.322600
 GD    0.161800
 TN    0.035867
 HC    0.034267
 CH    0.022267
 GB    0.008767
 DK    0.007733
 SV    0.007333
 DT    0.006533
 CN    0.004900
 XK    0.003133
 HN    0.002867
 XD    0.002767
 HT    0.002233
 NN    0.001867
 TK    0.001400
 BT    0.001067
 HS    0.001033
 HX    0.000867
 TA    0.000867
 KC    0.000733
 HD    0.000600
 CB    0.000367
 TS    0.000300
 75    0.000267
 TE    0.000167
 TC    0.000133
 XV    0.000133
 NO    0.000100
 80    0.000100
 XN    0.000067
 MS    0.000033
 86    0.000033
 79    0.000033
 CC    0.000033
 Name: FIELD_9, dtype: float64)

#### Unique values in Test

In [7]:
unique_values(test,'FIELD_9')

(DN    7367
 na    6504
 GD    3107
 TN     772
 HC     682
 CH     384
 GB     184
 DK     177
 SV     146
 DT     141
 CN      94
 HN      64
 XK      54
 HT      54
 XD      49
 HS      32
 TK      31
 NN      30
 TA      23
 KC      20
 HX      18
 BT      15
 CB      14
 TS      10
 XV       7
 TE       5
 HD       5
 74       3
 75       3
 TL       2
 CC       1
 TC       1
 CK       1
 Name: FIELD_9, dtype: int64, DN    0.36835
 na    0.32520
 GD    0.15535
 TN    0.03860
 HC    0.03410
 CH    0.01920
 GB    0.00920
 DK    0.00885
 SV    0.00730
 DT    0.00705
 CN    0.00470
 HN    0.00320
 XK    0.00270
 HT    0.00270
 XD    0.00245
 HS    0.00160
 TK    0.00155
 NN    0.00150
 TA    0.00115
 KC    0.00100
 HX    0.00090
 BT    0.00075
 CB    0.00070
 TS    0.00050
 XV    0.00035
 TE    0.00025
 HD    0.00025
 74    0.00015
 75    0.00015
 TL    0.00010
 CC    0.00005
 TC    0.00005
 CK    0.00005
 Name: FIELD_9, dtype: float64)

### 4. Compare Train and Test

Compare Unique values only in Train

In [8]:
values_only_in_set(train, test, 'FIELD_9')

({'79', '80', '86', 'MS', 'NO', 'XN'}, 6)

Compare Unique values only in Test

In [9]:
values_only_in_set(test, train, 'FIELD_9')

({'74', 'CK', 'TL'}, 3)