In [1]:
import pandas as pd
from utils import check_nas, unique_values, values_only_in_set

### 1. Load dataset

In [2]:
train = pd.read_csv('data/train.csv', index_col=0, low_memory=False)
test = pd.read_csv('data/test.csv', index_col=0, low_memory=False)

### 2. Check for NAs

Check no. missing values for Train

In [3]:
check_nas(train,'FIELD_35')

(9678, 0.3226)

Check no. missing value for Test

In [4]:
check_nas(test,'FIELD_35')

(6504, 0.2168)

### 3. Check for Unique Values

#### Similar Unique values in Train & Test

In [5]:
set(train.FIELD_35.unique()).intersection(set(test.FIELD_35.unique()))

{'Four', 'One', 'Three', 'Two', 'Zero', nan}

#### Unique values in Train

In [6]:
unique_values(train,'FIELD_35')

(Zero     9210
 One      4472
 Four     4056
 Two      1366
 Three    1218
 Name: FIELD_35, dtype: int64, Zero     0.453203
 One      0.220057
 Four     0.199587
 Two      0.067218
 Three    0.059935
 Name: FIELD_35, dtype: float64)

#### Unique values in Test

In [7]:
unique_values(test,'FIELD_35')

(Zero     6238
 One      2929
 Four     2641
 Two       952
 Three     736
 Name: FIELD_35, dtype: int64, Zero     0.462211
 One      0.217027
 Four     0.195688
 Two      0.070539
 Three    0.054535
 Name: FIELD_35, dtype: float64)

### 4. Compare Train and Test

Compare Unique values only in Train

In [8]:
values_only_in_set(train, test, 'FIELD_35')

(set(), 0)

Compare Unique values only in Test

In [9]:
values_only_in_set(test, train, 'FIELD_35')

(set(), 0)