In [55]:
import pandas as pd

### Load dataset

In [56]:
data = pd.read_csv('train.csv', index_col=0)

/home/ttn/miniconda3/envs/ml/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
data.head(3)

,label,province,district,age_source1,age_source2,maCv,FIELD_1,FIELD_2,FIELD_3,FIELD_4,...,FIELD_48,FIELD_49,FIELD_50,FIELD_51,FIELD_52,FIELD_53,FIELD_54,FIELD_55,FIELD_56,FIELD_57
id,,,,,,,,,,,,,,,,,,,,,
0,0,NaN,NaN,NaN,NaN,NaN,1,1.0,2547.0,0.0,...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Tỉnh Đồng Nai,Thành phố Biên Hòa,44.0,44.0,None,1,0.0,-1.0,1.0,...,False,True,29.77,17.561,30.955,31.171,0.0,0.04,0.0,0.0
2,0,Tỉnh Đồng Nai,Huyện Long Thành,30.0,30.0,Công nhân,0,1.0,3273.0,1.0,...,True,True,29.77,56.512,30.955,31.171,0.0,0.16,0.0,0.0

### Field Province

In [64]:
pd.isna(data.province).sum()

12818

In [26]:
data.province = data.province.str.lower()

In [27]:
data.province.value_counts()

thành phố hồ chí minh    2389
tỉnh đồng nai            1033
tỉnh bình dương           807
thành phố hà nội          667
tỉnh tiền giang           641
                         ...
tỉnh bắc kạn               38
tỉnh kon tum               34
tỉnh hà giang              31
tỉnh hòa bình              30
tỉnh lai châu              19
Name: province, Length: 64, dtype: int64

In [29]:
data.province = data.province.replace('tỉnh hoà bình', 'tỉnh hòa bình')

In [31]:
data.province.value_counts()

thành phố hồ chí minh    2389
tỉnh đồng nai            1033
tỉnh bình dương           807
thành phố hà nội          667
tỉnh tiền giang           641
                         ...
tỉnh điện biên             45
tỉnh bắc kạn               38
tỉnh kon tum               34
tỉnh hà giang              31
tỉnh lai châu              19
Name: province, Length: 63, dtype: int64

In [45]:
data_groupby_province_sum_label = data.groupby(['province']).sum()
data_groupby_province_sum_label = pd.DataFrame(data_groupby_province_sum_label['label'])
data_groupby_province_sum_label.columns = ['bad_count']
data_groupby_province_sum_label

                       bad_count
province
thành phố cần thơ              2
thành phố hà nội              10
thành phố hải phòng            0
thành phố hồ chí minh         36
thành phố đà nẵng              2
...                          ...
tỉnh điện biên                 2
tỉnh đắk lắk                   1
tỉnh đắk nông                  3
tỉnh đồng nai                 10
tỉnh đồng tháp                 6

[63 rows x 1 columns]

In [44]:
data_groupby_province = data.groupby(['province']).count()
data_groupby_province = pd.DataFrame(data_groupby_province['label'])
data_groupby_province

                       label
province
thành phố cần thơ        192
thành phố hà nội         667
thành phố hải phòng      252
thành phố hồ chí minh   2389
thành phố đà nẵng        228
...                      ...
tỉnh điện biên            45
tỉnh đắk lắk             289
tỉnh đắk nông             58
tỉnh đồng nai           1033
tỉnh đồng tháp           358

[63 rows x 1 columns]

In [47]:
data_groupby_province_sum_label = data_groupby_province_sum_label.join(data_groupby_province)

In [48]:
data_groupby_province_sum_label['bad_ratio'] = data_groupby_province_sum_label.bad_count / data_groupby_province_sum_label.label

In [54]:
data_groupby_province_sum_label.sort_values('bad_count',ascending=False)

                       bad_count  label  bad_ratio
province
thành phố hồ chí minh         36   2389   0.015069
tỉnh kiên giang               13    508   0.025591
tỉnh an giang                 11    608   0.018092
tỉnh bạc liêu                 11    238   0.046218
thành phố hà nội              10    667   0.014993
...                          ...    ...        ...
tỉnh hòa bình                  0    109   0.000000
tỉnh hậu giang                 0    160   0.000000
tỉnh kon tum                   0     34   0.000000
tỉnh lai châu                  0     19   0.000000
tỉnh lào cai                   0     62   0.000000

[63 rows x 3 columns]